.jumbotron{
background-color:#daba1a;
}
body {
    background-image: url('https://static1-fr.millenium.gg/articles/3/33/66/93/@/1051515-teemo-18-article_image_t-1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  }
 